<div class="animated fadeIn create-form">
    <div class="row">
        <div class="col-sm-8">
            <tabset>
                <tab heading="Thông tin">
                    <h6>Thông tin bệnh nhân</h6>
                    <hr>
                    <div class="row">
                        <div class="col-6 form-group">
                            <label>Họ tên bệnh nhân</label>
                            <input class="form-control" [(ngModel)]="benhan.name" />
                        </div>
                        <div class="col-3 form-group">
                            <label>Năm sinh</label>
                            <input type="number" class="form-control" [(ngModel)]="benhan.birthday_year" />
                        </div>
                        <div class="col-3 form-group">
                            <label>Giới tính</label>
                            <app-check-box-component class="center-checkbox" [resource]="'type_tbl GENDER_TYPE'" [(ngModel)]="benhan.gender" [optional]="{single: true, col: 6}"></app-check-box-component>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 form-group">
                            <label>Dân tộc</label>
                            <app-select-component [resource]="'type_tbl DANTOC'" [(ngModel)]="benhan.dantoc"></app-select-component>
                        </div>
                        <div class="col-4 form-group">
                            <label>Quốc tịch</label>
                            <app-select-component [resource]="'type_tbl NATIONALITY'" [(ngModel)]="benhan.nationality"></app-select-component>
                        </div>
                        <div class="col-4 form-group">
                            <label>Nghề nghiệp</label>
                            <app-select-component [resource]="'type_tbl JOB_TYPE'" [(ngModel)]="benhan.nghe_nghiep"></app-select-component>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label>Địa chỉ cấp cứu</label>
                            <input class="form-control" [(ngModel)]="benhan.address_cc" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label>Địa chỉ thường trú</label>
                            <input class="form-control" [(ngModel)]="benhan.address_tt" />
                        </div>
                    </div>
                    <h6>Thông tin người gọi cấp cứu</h6>
                    <hr>
                    <div class="row">
                        <div class="col-8 form-group">
                            <label>Người gọi</label>
                            <input class="form-control" [(ngModel)]="benhan.name_ref" />
                        </div>
                        <div class="col-4 form-group">
                            <label>Điện thoại</label>
                            <input type="number" class="form-control" [(ngModel)]="benhan.phone_ref" />
                        </div>
                    </div>
                    <h6>Thông tin cấp cứu</h6>
                    <hr>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label>Lí do gọi cấp cứu</label>
                            <textarea fz-elastic class="form-control" [(ngModel)]="benhan.reason_cc"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label>Thời gian gọi</label>
                            <input class="form-control" [textMask]="{mask: maskTime, alias: 'datetime'}" [(ngModel)]="benhan.time_cc" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label>Đối tượng</label>
                            <app-check-box-component class="center-checkbox" [resource]="'type_tbl PATIENT_TYPE'" [(ngModel)]="benhan.patient_type" [optional]="{single: true, col: 3}"></app-check-box-component>
                        </div>
                    </div>
                </tab>
                <tab heading="Sơ lược bệnh nhân">
                    <app-reason-public-form [data]="benhan.reason"></app-reason-public-form>
                    <app-disease-public-form [data]="benhan.disease"></app-disease-public-form>
                    <app-tien-can-public-form [data]="benhan.tiencan"></app-tien-can-public-form>
                    <tong-quat-public-form [data]="benhan.tongquat"></tong-quat-public-form>
                    <app-cac-bo-phan-public-form [data]="benhan.cacbophan"></app-cac-bo-phan-public-form>
                    <app-chuan-doan-public-form [data]="benhan.chandoan"></app-chuan-doan-public-form>
                </tab>
            </tabset>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <span>Thông tin bệnh án</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 form-group">
                            <label>Số bệnh án</label>
                            <input class="form-control" [(ngModel)]="benhan.benhan_number" [readonly]="true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label>Số chuyển viện</label>
                            <input class="form-control" [(ngModel)]="benhan.chuyenvien_number" [readonly]="true" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <label>Thời gian</label>
                            <input class="form-control" [textMask]="{mask: maskTime, alias: 'datetime'}" [(ngModel)]="benhan.datetime" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button type="button" (click)="cancel()" class="btn btn-block btn-secondary">Hủy</button>
                        </div>
                        <div class="col-6">
                            <button type="button" (click)="save()" class="btn btn-block btn-success">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>