<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <form [formGroup]="complexForm" (ngSubmit)="submit(complexForm.value)">
          <div class="card-header">
            <strong>Thông tin chuyên khoa</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Tên</label>
                  <input type="text" [ngClass]="{'has-error':!complexForm['controls']['name'].valid}" class="form-control" id="name" [formControl]="complexForm['controls']['name']"
                    placeholder="Nhập tên chuyên khoa">
                </div>
              </div>
            </div>
            <div class="row" formArrayName="prices">
              <ng-container *ngFor="let item of complexForm['controls']['prices']['controls']; let i=index">
                <ng-container [formGroupName]="i">
                  <div class="col-md-4">
                    <input type="number" formControlName="price" placeholder="Giá dịch vụ" class="form-control" />
                  </div>
                  <div class="col-md-4">
                    <input formControlName="to_date" class="form-control" placeholder="Ngày hết hạn" bsDatepicker/>
                  </div>
                  <div class="col-md-4">
                    <ngx-select formControlName="type" [disabled]="disabled" [items]="listData" (data)="refreshValue($event)" (selected)="selected($event)" placeholder="Loại dịch vụ">
                    </ngx-select>
                  </div>
                </ng-container>

              </ng-container>
            </div>

          </div>
          <div class="card-footer">
            <button type="submit" [disabled]="!complexForm.valid" class="btn btn-sm btn-success">
              <i class="fa fa-file-o"></i> {{actionText}}</button>
            <button type="reset" class="btn btn-sm btn-secondary">
              <i class="fa fa-eraser" class="cancel()"></i> Xóa</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>