<div class="row" style="margin-bottom:10px">
  <div class="col-md-1">
    <div class="button-group">
      <button type="button" class="btn btn-success" (click)="add($event)" *ngIf="option.isAdd">
        <i class="fa fa-plus-circle"></i>&nbsp; Thêm</button>
    </div>
  </div>
  <div class="col-md-4 offset-md-7" *ngIf="(dataList&&dataList.length>0)">
    <div class="input-group">
      <span class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-search"></i>
        </span>
      </span>
      <input type="text" class="form-control" placeholder="Search" type="text">
    </div>
  </div>
</div>
<ng-container *ngIf="(dataList&&dataList.length>0)||isLoading; else empty">
  <table [ngClass]="type=='modal'?'table table-responsive-sm  table-sm':'table table-bordered table-hover'">
    <thead>
      <tr>
        <th *ngFor="let item of mapTable" (click)="changeSort(item.col);">{{item.title}}
          <span class="sort-container-icon">
            <i class="fa fa-long-arrow-up sort-up-icon" [ngClass]="sortSelect[item.col]!=true?'sort-unselect-icon':''"></i>
            <i class="fa fa-long-arrow-down sort-down-icon" [ngClass]="sortSelect[item.col]!=false?'sort-unselect-icon':''"></i>
          </span>
        </th>
        <td *ngIf="!option || option.isEdit == undefined || option.isEdit == null || option.isEdit == true">
        </td>
        <td *ngIf="!option || option.isDelete == undefined || option.isDelete == null || option.isDelete == true">
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataList" [ngClass]="item.selected == true ? 'row-selected':''" (click)="selectColumn(item)">
        <td *ngFor="let col of mapTable">
          <span *ngIf="col.type==undefined || col.type==null">{{item[col.col]}}</span>
          <span *ngIf="col.type=='date'">{{item[col.col] | date: dateFormat}}</span>
          <span *ngIf="col.type=='time'">{{item[col.col] | date: timeFormat}}</span>
          <span *ngIf="col.type=='icon'" class="col-icon" [innerHTML]="item[col.col + '_custom']"></span>
        </td>
        <td class="table-action-col" *ngIf="!option || option.isEdit == undefined || option.isEdit == null || option.isEdit == true">
          <i class="fa fa-edit" (click)="editItem(item['id'])"></i>
        </td>
        <td class="table-action-col" *ngIf="!option || option.isDelete == undefined || option.isDelete == null || option.isDelete == true">
          <i class="fa fa-trash" (click)="deleteItem(item['id'])"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <ngb-pagination [collectionSize]="maxResult" [(page)]="currentIndex" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
      (pageChange)="onChangePageIndex()"></ngb-pagination>
  </div>
</ng-container>
<ng-template #empty>
  <div center padding class="alert alert-warning alert-dismissible fade show" role="alert">
    <i class="icon-info"></i> {{mesageEmpty | message}}
  </div>
</ng-template>