<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <h1>HIS VKHS</h1>
              <p class="text-muted">Đăng nhập hệ thống</p>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" class="form-control" [(ngModel)]="username" placeholder="Tên người dùng">
              </div>
              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control" [(ngModel)]="password" (keyup)="loginKeyUpdate($event)" placeholder="Mật khẩu">
              </div>
              <div class="row">
                <div class="col-6">
                  <button type="button" [ladda]="isLoading" (click)="login()"  class="btn btn-primary">Đăng nhập</button>
                </div>
                <div class="col-6 text-right">
                  <!-- <button type="button" class="btn btn-link px-0">Forgot password?</button> -->
                </div>
              </div>
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Hệ thống quản trị</h2>
                <strong>Bệnh viện Răng Hàm Mặt</strong>
                <p>263-265 Trần Hưng Đạo, P.Cô Giang, Q1, HCM</p>
                <span>ĐT: (08) 383 60 191 - 383 77 584  <br></span>
                <span>Website:  www.bvranghammat.vn</span>
                <!-- <button type="button" class="btn btn-primary active mt-3">Register Now!</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
