
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <h1>HIS VKHS</h1>
                <p class="text-muted">Đăng nhập hệ thống</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="username" placeholder="Tên người dùng">
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" [(ngModel)]="password" (keyup)="loginKeyUpdate($event)" placeholder="Mật khẩu">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="button" [ladda]="isLoading" (click)="login()"  class="btn btn-primary">Đăng nhập</button>
                  </div>
                  <div class="col-6 text-right">
                  </div>
                </div>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Hệ thống quản trị</h2>
                <strong>Bệnh viện Răng Hàm Mặt</strong>
                <p>263-265 Trần Hưng Đạo, P.Cô Giang, Q1, HCM</p>
                <span>ĐT: (08) 383 60 191 - 383 77 584  <br></span>
                <span>Website:  www.bvranghammat.vn</span>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>


