<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="submitData(model)">
            <formly-form [form]="form" [fields]="fields" [model]="model">
              <button type="submit" [ladda]="isLoading" class="btn btn-primary submit-button" [disabled]="!form.valid">&nbsp;&nbsp;Lưu&nbsp;&nbsp;</button>
            </formly-form>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
