<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <form [formGroup]="complexForm" (ngSubmit)="submit(complexForm.value)">
                    <div class="card-header">
                        <strong>Thông tin quy hoạch</strong>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="company">Phòng khám</label>
                            <ng-select formControlName="ward_id" [items]="wardList" bindLabel="text" bindValue="id" placeholder=""></ng-select>
                        </div>
                        <div class="form-group">
                            <label for="company">Chuyên khoa</label>
                            <ng-select formControlName="specialization_id" [items]="specializationList" bindLabel="text" bindValue="id" placeholder=""></ng-select>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="city">Giờ bắt đầu</label>
                                <input type="text" [textMask]="{mask: mask}" formControlName="start_time" class="form-control" id="city">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="postal-code">Giờ kết thúc</label>
                                <input type="text" [textMask]="{mask: mask}" class="form-control" formControlName="end_time" id="postal-code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="country">Thời gian trung bình (/phút)</label>
                            <input type="number" class="form-control" id="country" formControlName="period">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" [disabled]="!complexForm.valid" class="btn btn-sm btn-success">
                            <i class="fa fa-file-o"></i> Thêm</button>
                        <button type="reset" class="btn btn-sm btn-danger">
                            <i class="fa fa-eraser"></i> Xóa</button>
                    </div>
                </form>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>