<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <form [formGroup]="complexForm" (ngSubmit)="submit(complexForm.value)">
          <div class="card-header">
            <strong>Thông tin Các bộ phận</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Tên</label>
                  <input type="text" [ngClass]="{'has-error':!complexForm.controls['name'].valid}" class="form-control" id="name" [formControl]="complexForm.controls['name']"
                  >
                </div>
              </div>
            </div>
             <div class="row">
              <div class="col-sm-12">
                  <label for="name">Mô tả thêm</label>
                <div class="form-group">
                  
                  <label class="switch switch-primary">
                    <input type="checkbox" class="switch-input" checked [formControl]="complexForm.controls['allow_description']">
                    <span class="switch-slider"></span>
                  </label>
                </div>
              </div>
            </div> 
          </div>
          <div class="card-footer">
            <button type="submit" [disabled]="!complexForm.valid" class="btn btn-sm btn-success">
              <i class="fa fa-file-o"></i> 
              <span>{{actionText}}</span>
            </button>
            <button (click)="cancel()" class="btn btn-sm btn-secondary">
              <i class="fa fa-eraser"></i> Hủy</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>