<div class="row">
  <ng-container *ngFor="let item of listData">
    <div class="center-container" [ngClass]="optional && optional.enableDescription ? 'col-4': (optional&&optional.col?('col-' + optional.col):'col-12')">
      <div class="form-check checkbox center-item">
        <input class="form-check-input" type="checkbox" value="" [(ngModel)]="item.checked" (ngModelChange)="changeItem(item)">
        <label class="form-check-label">
          {{item.name}}
        </label>
      </div>
    </div>
    <div class="col-8" *ngIf="item.checked && optional && optional.enableDescription">
      <div class="">
        <textarea fz-elastic placeholder="Mô tả bất thường {{item.description}}" class="form-control" [(ngModel)]="item.description"></textarea>
      </div>
    </div>
  </ng-container>
</div>