// Here you can add other styles

.ng-pristine.ng-invalid {
    border-color: none;
}

.ng-invalid:not(.ng-pristine) {
    border-color: #f86c6b;
}

.ng-invalid:not(.ng-pristine):focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 108, 107, 0.25);
}


// custome toast
.toast-container .toast {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    border-radius: none;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: none;
    color: #FFFFFF;
}

// modal
.modal-backdrop {
    transition-duration: 1s;
    background: rgba(120, 124, 139, 0.9);
    transition: opacity 1s;
}
.modal-backdrop.in{
    opacity: 1;
}
.modal .modal-content{
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    border-radius: 0;
}

// .modal .vertical-alignment-helper {
//     display:table;
//     height: 100%;
//     width:100%;
// }
// .modal .vertical-align-center {
//     /* To center vertically */
//     display: table-cell;
//     vertical-align: middle;
// }

.modal.fade.in .modal-content{
    width:inherit;
    height:inherit;
    -webkit-animation-name: anim-open;
    animation-name: anim-open;
    -webkit-animation-timing-function: cubic-bezier(0.6,0,0.4,1);
    animation-timing-function: cubic-bezier(0.6,0,0.4,1);
}

.modal.fade .modal-content{
    -webkit-animation-name: anim-close;
    animation-name: anim-close;
}
@-webkit-keyframes anim-open {
    0% { opacity: 0; -webkit-transform: scale(0); }
    100% { opacity: 1; -webkit-transform: scale(1); }
}

@Keyframes anim-open {
    0% { opacity: 0; -webkit-transform: scale3d(0, 0, 1); transform: scale3d(0, 0, 1); }
    100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}

@-webkit-keyframes anim-close {
    0% { opacity: 1; }
    100% { opacity: 0; -webkit-transform: scale3d(0.5, 0.5, 1); }
}

@Keyframes anim-close {
    0% { opacity: 1; }
    100% { opacity: 0; -webkit-transform: scale3d(0.5, 0.5, 1); transform: scale3d(0.5, 0.5, 1); }
}

//table
.table-action-col {
    width: 10px;
    color: #AAAAAA;
    i:hover {
        color: #dc2a2a;
    }
}

.col-icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center
}

.row-selected {
    background-color: rgba(0,0,0,.075);
}

.sort-container-icon {
    float: right;
    .sort-up-icon {
        font-size: 10px;
    }
    
    .sort-down-icon {
        font-size: 10px;
        margin-left: -4px;
    }

    .sort-unselect-icon {
        color: #999;
    }
}


//toaster
.toast-container .toast:hover {
    -webkit-box-shadow: 0 0 4px #999;
     box-shadow: 0 0 4px #999; 
    opacity: 1;
    cursor: pointer;
}

.toast-container .toast {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
     border-radius: 0px; 
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 24px;
     -webkit-box-shadow: 0 0 1px #999; 
     box-shadow: 0 0 1px #999; 
    color: #fff;
}

.right-content {
    display: flex; 
    justify-content: flex-end
}

.checkbox {
    padding-left: 20px;
  }
  
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }
  

  .form-inline {
      input {
          margin-left: 10px; 
          margin-right: 10px;
      }
  }

  .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
  }
  
  .checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  .checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
  }
  
  .checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
  }
  
  .checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
  }
  
  .checkbox.checkbox-circle label::before {
    border-radius: 50%;
  }
  
  .checkbox.checkbox-inline {
    margin-top: 0;
  }
  
  .checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca;
  }
  
  .checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
  }
  
  .checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
  }
  
  .checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
  }
  
  .checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
  }
  
  .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .radio {
    padding-left: 20px;
  }
  
  .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  
  .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
  }
  
  .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  }
  
  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
  }
  
  .radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  
  .radio input[type="radio"]:disabled + label {
    opacity: 0.65;
  }
  
  .radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
  }
  
  .radio.radio-inline {
    margin-top: 0;
  }
  
  .radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
  }
  
  .radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca;
  }
  
  .radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca;
  }
  
  .radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
  }
  
  .radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
  }
  
  .radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
  }
  
  .radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
  }
  
  .radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
  }
  
  .radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
  }
  
  .radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
  }
  
  .radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
  }
  
  .radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
  }
  
  .radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
  }
  
  .radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
  }
  
  .radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
  }