// Here you can add other styles
// remove modal background
.modal-content {
  border: 0px;
}

// Hospial create 
.hospital-create {
  .hospital-avartar {
    --active-color: #3C9;
    --common-radius: 3px;
    background-color: #f8f8f8;
    border-radius: var(--common-radius);
    border: #d0d0d0 dashed 1px;
    font-family: sans-serif;
    position: relative;
    color: #9b9b9b;
    .img-ul-upload {
        color: #fff;
        background-color: #20a8d8;
        border-color: #20a8d8;
        border-radius: 0.25rem;
        font-size: 0.875rem;
    }
    .img-ul-clear {
      display: none;
    }
  }

  .submit-action {
      display: flex;
      button {
        margin-left: auto;
      }
  }
}

// Table
//table
.table-action-col {
  width: 10px;
  color: #AAAAAA;
  i:hover {
      color: #dc2a2a;
  }
}

.col-icon {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center
}

.row-selected {
  background-color: rgba(0,0,0,.075);
}

.sort-container-icon {
  float: right;
  .sort-up-icon {
      font-size: 10px;
  }
  
  .sort-down-icon {
      font-size: 10px;
      margin-left: -4px;
  }

  .sort-unselect-icon {
      color: #999;
  }
}