<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <form [formGroup]="complexForm" (ngSubmit)="submit(complexForm.value)">
          <div class="card-header">
            <strong>Thông tin danh mục lâm sàng</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group">
                  <label for="name">Tên</label>
                  <input type="text" (keyup)="fillAlias()" [ngClass]="{'has-error':!complexForm.controls['name'].valid}" class="form-control" id="name" [formControl]="complexForm.controls['name']">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name">Alias</label>
                  <input type="text" [readonly]="true" [ngClass]="{'has-error':!complexForm.controls['alias'].valid}" class="form-control" id="name" [formControl]="complexForm.controls['alias']">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Đơn vị</label>
                  <input type="text" [ngClass]="{'has-error':!complexForm.controls['unit'].valid}" class="form-control" id="name" [formControl]="complexForm.controls['unit']">
                </div>
              </div>
              <div class="col-sm-9">
                <div class="form-group">
                  <label for="name">Loại</label>
                  <ngx-select formControlName="type" [items]="typelist" placeholder=""></ngx-select>
                </div>
              </div>
              <div class="col-sm-3">
                  <label for="name">Nhiều giá trị</label>
                  <div class="form-group">
                    <div class="form-group">
                        <label class="switch switch-primary" style="margin-top: 3px">
                          <input type="checkbox" class="switch-input" checked [formControl]="complexForm.controls['has_multifield']">
                          <span class="switch-slider"></span>
                        </label>
                      </div>
                  </div>
                </div>
                <div class="col-sm-12" *ngIf="complexForm.controls['has_multifield'].value==true">
                    <div class="form-group">
                      <label for="name">Số lượng giá trị</label>
                      <input type="number" [ngClass]="{'has-error':!complexForm.controls['number_field'].valid}" class="form-control" id="name" [formControl]="complexForm.controls['number_field']">
                    </div>
                  </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Vị trí</label>
                  <input type="number" [ngClass]="{'has-error':!complexForm.controls['order'].valid}" class="form-control" id="name" [formControl]="complexForm.controls['order']">
                </div>
              </div>
              <div class="col-sm-12">
                <label for="name">Bắt buộc nhập</label>
                <div class="form-group">
                  <label class="switch switch-primary">
                    <input type="checkbox" class="switch-input" checked [formControl]="complexForm.controls['required']">
                    <span class="switch-slider"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" [disabled]="!complexForm.valid" class="btn btn btn-primary" style="margin-right: 10px">
              <i class="fa fa-file-o" style="margin-right: 5px;"></i>
              <span>{{actionText}}</span>
            </button>
            <button (click)="cancel()" class="btn btn btn-secondary">
              <i class="fa fa-eraser"></i> Hủy</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>